[submodule "lib/Keebio-Parts.pretty"]
	path = lib/Keebio-Parts.pretty
	url = https://github.com/crides/Keebio-Parts.pretty
[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "ProMicroKiCad"]
	path = ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "lib/ProMicroKiCad"]
	path = lib/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "lib/keyswitches.pretty"]
	path = lib/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
